<div class="clearfix">
    <h5 class="float-left">
        Hey, {{ currentUser.name }} <span class="badge badge-secondary">{{ currentUser.role }}</span>
    </h5>
    <p class="float-left mx-2">
        <a href="/logout" class="btn btn-danger btn-sm">logout</a>
    </p>
</div>

<hr class="my-4" />
