<h3>
    Hey, {{ currentUser.name }} <span class="badge badge-secondary">{{ currentUser.role }}</span>
</h3>
<p>
    <a href="/logout" class="btn btn-danger btn-sm">logout</a>
</p>

<hr class="my-4" />
