  <div class="jumbotron">
    <h1 class="display-4">{{ title }}</h1>
    <p class="lead">course deletion</p>
    <hr class="my-4">
    <p>Are you sure that you want to delete {{ course.title }}?</p>
    {{#if message}}
      <div class="alert alert-danger">{{ message }}</div>
    {{/if}}
    <form action="/courses/delete" method="POST">
      <input type="hidden" name="id" value="{{course._id}}">
      <button class="btn btn-primary btn-lg" role="button">Yes!</button>
    </form>

  </div>
</div>