  <div class="jumbotron">
    <h1 class="display-4">{{ title }}</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, praesentium?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet.</p>

    <hr class="my-4">

    <a class="btn btn-primary btn-lg" href="/courses" role="button">courses</a>

    <hr class="my-4">

    <a class="btn btn-primary btn-lg" href="/users" role="button">users</a>
  </div>
</div>