  <div class="container-fluid">
    <form id="form" action="/users/add" method="POST">
      <div class="form-group">
        <label for="name">Name</label><br>
        <input type="text" name="name"
          placeholder="add users Name">        
      </div>

      <div class="form-group">
        <label for="profileImg">Profile Img</label><br>
        <input type="text" name="profileImg"
          placeholder="add URL for img">
      </div>

      <div class="form-group">
        <label for="description">Description</label><br>
        <input type="text" name="description"
          placeholder="add something about the user">
      </div>
      <div class="form-group">
        <label for="username">Username</label><br>
        <input type="text" name="username"
          placeholder="add the username">
      </div>

      <div class="form-group">
        <label for="password">Password</label><br>
        <input type="password" name="password"
          placeholder="enter password">
      </div>

      <div class="form-group">
      <label for="role">Role</label><br>
      <select name='role'>
        <option>BOSS</option>
        <option>DEV</option>
        <option>TA</option>
        <option>STUDENT</option>
        <option>GUEST</option>
      </select>
      </div>

      {{#if msgError}}
        <div class="alert alert-danger">{{ msgError }}</div>
      {{/if}}

      <button class="btn btn-primary btn-block">Create account</button>
    </form>
  </div>
  