<div class="container">
  <h1>{{user.name}}</h1>
  <hr class="my-4" />
  <p><span><img src="{{user.profileImg}}" alt="{{user.name}}s profile picture"></span>
</p>
  <p>{{user.description}}</p>

  <hr class="my-4" />
  <a href="/users">Return</a>
</div>