body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar {
  background-color: #000;
  color: #FFF;
}

.navbar-dark .navbar-nav .nav-link {
  color: #FFF;
}

.navbar-dark .navbar-nav .nav-active .nav-link {
  font-weight: bold;
}

footer {
  background: #0A2C42;
  bottom: 0;
  color: #F7F9F9;
  left: 0;
  position: fixed;
  width: 100%;
}

#app {
  padding: 30px 0;
}

a {
  color: #00B7FF;
}

.review-item {
  border-bottom: 1px solid grey;
  margin: 10px 0;
  padding-bottom: 10px;
}

.review-item p {
  margin-bottom: 0;
}

.review-item span {
  font-size: 10px;
  color: grey;
}

#form {
  margin: 30px auto;
  width: 380px;
}

#map {
  height: 500px;
  width: 100%;
 }